.arrow-buttons {
	display: flex;
	align-items: center;
}

.arrow-button {
	height: 35px;
	width: 35px;
	font-size: 1.1rem;
	background: transparent;
	border: none;
	border-radius: 35px;
	cursor: pointer;
}

.arrow-button:focus {
	outline: none;
}

.arrow-button:hover {
	background: rgb(0,0,0,0.05);
}

@media (max-width: 700px){
	.arrow-button {
		height: 35px;
		width: 35px;
		font-size: 2.5em;
	}
}